<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
        <script defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
              delimiters: [
                {left: "$$",  right: "$$",  display: true},
                {left: "$",   right: "$",   display: false},
                {left: "\\(", right: "\\)", display: false},
                {left: "\\[", right: "\\]", display: true}
              ]
            });
          });
        </script>

    </head>
    <body>
        <div class="site-wrapper">
            <header class="sidebar">
                <div class="sidebar-content">
                    <div class="logo">
                        <a href="/">My Digital Garden</a>
                    </div>
                    <nav>
                        <a href="/about.html">About</a>
                        <a href="/archive.html">Archive</a>
                    </nav>
                    <div class="sidebar-footer">
                        <div class="footer-links">
                            <a href="https://github.com/bryxosmmm">Github</a>
                            <span class="separator">·</span>
                            <a href="https://t.me/extremepeacee">Telegram</a>
                        </div>
                        <div class="footer-note">
                            Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                        </div>
                    </div>
                </div>
            </header>

            <main role="main">
                    $body$
            </main>
        </div>
    </body>
</html>
