<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css">
        <script defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
              delimiters: [
                {left: "$$",  right: "$$",  display: true},
                {left: "$",   right: "$",   display: false},
                {left: "\\(", right: "\\)", display: false},
                {left: "\\[", right: "\\]", display: true}
              ]
            });
          });
        </script>

    </head>
    <body>
        <header>
            <div class="site-header">
                <div class="logo">
                    <a href="/">My Digital Garden</a>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <span class="separator">|</span>
                    <a href="/about.html">About</a>
                    <span class="separator">|</span>
                    <a href="/archive.html">Archive</a>
                </nav>
            </div>
        </header>

        <main role="main">
            $body$
        </main>

        <footer>
            <div class="footer-content">
                <div class="footer-links">
                    <a href="https://github.com/bryxosmmm">gh</a>
                    <span class="separator">|</span>
                    <a href="https://t.me/extremepeacee">tg</a>
                </div>
                <div class="footer-note">
                    Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                </div>
            </div>
        </footer>
    </body>
</html>
